* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--color-white: #f3f3f3;
	--color-darkblue: #1b1b32;
	--color-darkblue-alpha: rgba(27, 27, 50, 0.8);
	--color-green: #37af65;
	--color-grey: #495057;
	--color-grey-bleak: #7a7e82;
	--color-purple: #741e7c;
	--color-purple-bright: #ea21fd;
	--border-radius: 4px;

	font-family: "Poppins", sans-serif;
	font-size: 16px;
	line-height: 1.4;
	color: var(--color-white);
}

body {
	min-height: 100vh;
	background-image: url(../img/survey-form-background.jpeg);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	box-shadow: inset 0 0 0 10000px rgba(80, 80, 220, .5);

}

.container {
	margin: 0 auto;
	max-width: 720px;
	padding: 50px 0 0;
}

h1,
h2 {
	font-weight: normal;
	text-align: center;
	line-height: 1.2;
}

h1 {
	font-size: 2rem;
	margin-bottom: 10px;
}

h2 {
	font-weight: 200;
	font-style: italic;
	font-size: 1.2rem;
	margin-bottom: 40px;
}

h1,
h2,
legend,
label {
	user-select: none;
}

legend,
label {
	font-size: 1.125rem;
	margin-bottom: 10px;
}

label {
	cursor: pointer;
	font-weight: normal;
}

.form {
	background-color: var(--color-darkblue-alpha);
	border-radius: var(--border-radius);
	padding: 40px 15px 60px;
}

.fieldset {
	margin-bottom: 30px;
	position: relative;
	border: none;
}

select:invalid {
	color: gray;
}

input,
select,
textarea {
	width: 100%;
	padding: 10px 12px;
	border-radius: var(--border-radius);
}

label,
input {
	display: block;
}

input,
select,
option,
textarea {
	font-size: inherit;
	color: var(--color-grey);
	border: none;
}

input,
select,
option {
	outline: none;
}

input:focus,
select:focus,
option:focus {
	box-shadow: 0 0 0 3px rgb(0 123 255 / .25);
}

textarea {
	resize: none;
}

.user-text {
	padding-top: 17px;
	padding-bottom: 8px;
}

.user-text:focus~.placeholder,
.user-text:valid~.placeholder {
	font-size: .8rem;
	top: 1px;
}

.textarea:empty~.placeholder {
	font-size: 1rem;
	top: 10px;
}

.textarea:empty:focus~.placeholder {
	font-size: .8rem;
	top: 1px;
}

.placeholder {
	color: var(--color-grey-bleak);
	position: absolute;
	top: 10px;
	left: 11px;
	transition: all .5s;
}

.placeholder--active {
	font-size: .8rem !important;
	top: 1px !important;
}

.radio,
.checkbox {
	display: inline-block;
	width: 20px;
	height: 20px;
	margin-right: 10px;
}

.radio-label,
.checkbox-label {
	display: flex;
	align-items: center;
}

.radio {
	position: relative;
	appearance: none;
}

.radio:focus {
	box-shadow: none;
}

.radio:focus:before {
	box-shadow: 0 0 0 3px rgb(0 123 255 / .25);
}

.radio:before {
	font-family: "Font Awesome 5 Free";
	font-size: 23px;
	content: "\f111";
	position: absolute;
	top: -2px;
	left: 1px;
	color: var(--color-purple);
	cursor: pointer;
}

.radio:checked:before {
	content: "\f058";
	color: var(--color-purple-bright);
}

.checkbox {
	position: relative;
	appearance: none;
}

.checkbox:focus {
	box-shadow: none;
}

.checkbox:focus:before {
	box-shadow: 0 0 0 3px rgb(0 123 255 / .25);
}

.checkbox:before {
	font-family: "Font Awesome 5 Free";
	font-size: 23px;
	content: "\f0c8";
	position: absolute;
	top: -2px;
	left: 1px;
	color: var(--color-purple);
	padding: 0 2px;
	cursor: pointer;
}

.checkbox:checked:before {
	content: "\f14a";
	color: var(--color-purple-bright);
}


.submit-btn {
	font-family: inherit;
	font-size: inherit;
	font-weight: 400;
	width: 100%;
	color: var(--color-white);
	background-color: var(--color-green);
	border-radius: calc(var(--border-radius) / 2);
	border: none;
	padding: 10px 12px;
}

.submit-btn:active {
	filter: brightness(.8);
}

@media (min-width: 480px) {
	.form {
		padding-left: 40px;
		padding-right: 40px;
	}
}