:root {
	font-size: 16px;
	font-family: sans-serif;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

li {
	list-style: none;
}

a {
	color: inherit;
	text-decoration: none;
}

a:hover {
	color: #1ED760;
}

h1 {
	font-size: 2.4rem;
	margin-bottom: 20px;
	font-weight: 900;
}

h2 {
	margin-bottom: 10px;
}


body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	align-content: space-between;
}

header,
main,
footer {
	min-height: 80px;
	width: 100%;
	display: flex;
	justify-content: center;
}

main {
	display: flex;
	flex-direction: column;
	flex-grow: 2;
}

header,
footer {
	background: #111;
	color: #f3f8f5;
}

header {
	display: flex;
	align-items: center;
	font-weight: 700;
}

.container {
	max-width: 1140px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	flex-grow: 2;
	margin: auto;
}

.logo {
	display: flex;
	align-items: center;
	width: 140px;
}

.logo:hover {
	filter: brightness(.9);
}



header nav ul {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

header nav li:nth-of-type(3) {
	border-right: 2px solid #f3f8f5;
}

header nav li {
	margin: 10px 0;
}

header nav a {
	margin: 10px;
	padding: 10px;
}

.d-flex {
	display: flex;
}

.flex-grow-1 {
	flex-grow: 1;
}

.flex-col {
	flex-direction: column;
}

.flex-wrap {
	flex-wrap: wrap;
}

.w-50 {
	width: 50%;
}

.w-100 {
	width: 100%;
}

.justify-content-between {
	justify-content: space-between;
}

.justify-content-center {
	justify-content: center;
}

.align-items-center {
	align-items: center;
}

.mt-10 {
	margin-top: 10px;
}

.main-section {
	width: 100%;
	padding: 20px;
	display: flex;
	flex-grow: 1;
	flex-wrap: wrap;
}

.main-section:nth-of-type(1) {
	background-color: #C3F0C8;
}

.main-section:nth-of-type(1) p {
	margin-bottom: 10px;
}

.main-section:nth-of-type(1) p:first-of-type {
	font-size: 1.5rem;
}

.main-section:nth-of-type(1) {
	align-items: center;
	justify-content: center;
}

.main-section:nth-of-type(1) img {
	max-height: 400px;
}

.btn {
	display: inline-block;
	max-width: 100%;
	text-align: center;
	padding: 15px 45px;
	margin: 10px 5px;
	border-radius: 30px;
	font-size: 1.4rem;
}

.main-section:nth-of-type(1) .btn:hover {
	transform: scale(1.05);
	color: initial;
}

.start-btn {
	background-color: #111;
	color: #f3f8f5;
}

.main-section:nth-of-type(1) .btn:nth-of-type(2) {
	border: solid 2px #f3f8f5;
}

.main-section:nth-of-type(1) .btn:nth-of-type(2):hover {
	background-color: #D7F5DB;
}

.main-section:nth-of-type(2) {
	background-color: #f3f8f5;
}

.main-section:nth-of-type(2) h2 {
	font-size: 2.4rem;
}

.main-section:nth-of-type(2) h2,
.main-section:nth-of-type(3) h2+p {
	margin: 0 auto 40px;
}

.main-section:nth-of-type(3) {
	background-color: #EFEFEF;
}

.main-section:nth-of-type(3) h2 {
	margin: 0 auto 10px;
	font-weight: 900;
}

.main-section:nth-of-type(2),
.main-section:nth-of-type(3) {
	padding-top: 70px;
	padding-bottom: 100px;
}

.main-section:nth-of-type(2) h2,
.main-section:nth-of-type(2) h3,
.main-section:nth-of-type(2) p,
.main-section:nth-of-type(3) h2 {
	text-align: center;
	width: 100%;
}

.footer-section {
	display: flex;
	width: 100%;
	padding: 20px 10px;
	flex-wrap: wrap;
	justify-content: space-between;
}

.advantage {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 200px;
}

.advantage img {
	border-radius: 50%;
	height: 100px;
	margin-bottom: 20px;
}

.card {
	padding: 20px;
	margin-top: 30px;
	width: 20%;
	margin: 8px;
	min-width: 250px;
	max-width: 440px;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	background-color: #fff;
	border-radius: 20px;
	box-shadow: 0 0 7px #979696;
	;
}

.card-header {
	border-bottom: 1px solid #000;
}

.footer-section:first-of-type section {
	flex-grow: 1;
	margin: 3px;
	width: 15%;
	min-width: 150px;
}

.footer-section:first-of-type section:last-of-type {
	flex-grow: 3;
}

.social ul {
	display: flex;
	justify-content: center;
}

.social ul li {
	margin: 15px;
}

.social a {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #222326;
	margin: 5px;
	font-size: 1.4rem;
	width: 40px;
	height: 40px;
	border-radius: 50%;
}

.info {
	flex: 1;
}

.info ul {
	display: flex;
	flex-wrap: wrap;
	/* justify-content: space-around; */
	padding-right: 20%;
	padding-left: 5%;
}

.info ul li {
	margin: 5px;
}

.microtext {
	font-size: .7rem;
}

.terms {
	text-decoration: underline;
}

.microtext a:hover {
	color: initial;
}

.card li {
	display: flex;
	align-items: flex-start;
	margin-top: 15px;
}

.card li img {
	margin-right: 5px;
}

.card-header {
	height: 150px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding-bottom: 10px;
}

.card-content {
	height: 320px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.footer-section h2 {
	font-size: .7rem;
	color: #919496;
	text-transform: uppercase;
}

.footer-section:first-of-type li {
	margin: 15px 0;
	font-size: .8rem;
}

.footer-section:last-of-type {
	font-size: .7rem;
	color: #919496;
	align-items: center;
}

.footer-section:last-of-type section:last-of-type {
	height: 30px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.lang i {
	margin-right: 5px;
}