:root {
	font-size: 16px;
}

* {
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}

body {
	display: flex;
	flex-direction: column;
	/* flex-wrap: wrap; */
	min-height: 100vh;
	align-content: space-between;
}

header,
main,
footer {
	min-height: 100px;
	width: 100vw;
}

main {
	background: red;
	flex-grow: 2;
}

header,
footer {
	background: green;
}

header {
	display: flex;
	align-items: center;
}

.container {
	max-width: 800px;
	width: 100%;
	margin: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	background: rgba(255, 255, 255, .5);
}

.logo {
	display: flex;
	align-items: center;
	width: 70px;
	height: 70px;
	background: yellow;
}

header nav {
	width: 70%;
	display: flex;
	align-items: center;
	justify-content: center;
}

header nav ul {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

header nav a {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 5px 10px;
	width: 70px;
	height: 70px;
	background: aqua;
}

.d-flex {
	display: flex;
}

.flex-col {
	flex-direction: column;
}

.flex-wrap {
	flex-wrap: wrap;
}

.w-50 {
	width: 50%;
}

.w-75 {
	width: 75%;
}

.m-auto {
	margin: auto;
}

.justify-content-between {
	justify-content: space-between;
}

.mt-10 {
	margin-top: 10px;
}

section:nth-of-type(1) img {
	max-height: 300px;
}

h1 {
	margin-bottom: 10px;
}

section:nth-of-type(1) p {
	margin-bottom: 10px;
}

.btn {
	display: inline-block;
	background-color: brown;
	min-height: 40px;
	padding: 10px;
	margin: 5px;
	width: max-content;
	border-radius: 5px;
}