* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body,
html {
	/* margin: 0; */
	/* padding: 0; */
	width: 100%;
	height: 100%;
}

body {
	font-family: Roboto;
	font-size: 12px;
	color: #424242;
	display: flex;
	flex-direction: column;
}

h1,
h2,
h3,
h4,
h5 {
	margin: 0;
}

header,
nav,
footer,
section,
article,
div {
	box-sizing: border-box;
}

img {
	max-width: 100%;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

a,
button {
	min-height: 48px;
	min-width: 48px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.d-none {
	display: none !important;
}

/*
 *
 * Common
 * 
 */

.news__more {
	position: absolute;
	right: 0;
	bottom: 0;
	font-size: 0.8em;
	color: #333;
	text-decoration: none;
}

/*
 *
 * Header
 *
 */

.header {
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
	min-height: 56px;
	transition: min-height 0.3s;
}

.header__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 56px;
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
}

.header__logo {
	max-height: 80px;
	height: 100%;
}

.header__title {
	font-weight: 300;
	font-size: 2.5em;
	/* margin: 0.5em 0.25em; */
	display: inline-block;
	color: #212121;
	flex-grow: 1;
	text-align: center;
}

/*
 *
 * Top Level Navigation
 *
 */

.nav {
	position: relative;
	max-width: 800px;
	width: 100%;
	margin: 5px auto;
}

.nav-bg-screen {
	display: none;
}

.burger-btn {
	font-size: 1.6rem;
	margin-left: 2%;
}

.nav__list {
	display: flex;
	font-size: 1rem;
	justify-content: space-around;
}

.nav__list--burger {
	display: flex;
	flex-direction: column;
	width: 80%;
	position: absolute;
	top: 0;
	left: 18%;
	z-index: 10;
	background-color: #fff;
	box-shadow: 0 0 5px #000;
}

.nav__item {
	/* display: inline-block; */
	/* width: 24%; */
	/* text-align: center; */
	/* line-height: 24px; */
	/* padding: 24px; */
	text-transform: uppercase;
}

.nav a {
	text-decoration: none;
	color: #616161;
}

.nav a:hover {
	text-decoration: underline;
	color: #212121;
}

/*
 *
 * Main
 *
 */

.main {
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
	flex-grow: 1;
}

/*
 *
 * Content
 *
 */

.content {
	display: flex;
	flex-wrap: wrap;
	font-size: .9rem;
}

/*
 *
 * Hero
 *
 */

.hero {
	min-width: 100%;
	min-height: 320px;
	margin: 0 auto;
	position: relative;
	background-image: url("./images/dog.jpg");
	background-size: cover;
	background-position: center;
}

.hero__description {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	background-color: #000;
	background-color: rgba(0, 0, 0, 0.7);
	position: absolute;
	bottom: 0;
	height: 48%;
	width: 100%;
	color: #fff;
	padding: 1em;
}

/*
 *
 * Top News
 *
 */

.top-news {
	max-width: 400px;
	min-height: 300px;
	border-bottom: 1px solid #e0e0e0;
	padding: 1em;
	margin: 0 auto;
}

.news__title {
	min-height: 48px;
	display: flex;
	align-items: center;
	position: relative;
	font-weight: 300;
	border-bottom: 1px solid #e0e0e0;
	line-height: 24px;
	font-size: 1.5rem;
}

.top-news__item {
	position: relative;
	border-bottom: 1px solid #e0e0e0;
	padding: 1em 0 1em 10px;
	line-height: 19.2px;
}

.top-news__item:before {
	content: "» ";
	position: absolute;
	left: -5px;
	top: 16px;
}

.top-news__item:last-child {
	border-bottom: none;
}

.top-news__item a {
	text-decoration: none;
	color: #666;
}

.top-news__item a:hover,
.top-news__item a:active {
	text-decoration: underline;
}

/*
 *
 * Weather
 *
 */

.weather {
	/* width: 320px; */
	width: 100%;
	padding: 1em;
}

.weather__location {
	display: block;
	font-weight: 300;
	font-size: 1.5em;
}

.weather__desc {
	display: block;
	font-size: 1.2em;
}

.weather__today {
	width: 60%;
	vertical-align: middle;
}

.weather__today__image {
	vertical-align: middle;
}

.weather__today__temp {
	font-size: 3em;
}

.weather__today__deg {
	font-size: 2em;
	display: inline;
}

.weather__next {
	display: flex;
	flex-wrap: wrap;
}

.weather__next__item {
	display: inline-block;
	/* width: 20%; */
	width: 33%;
	text-align: center;
}

.weather__next__item span {
	display: block;
}

.weather__next__image {
	width: 100%;
	max-width: 70px;
}

/*
 *
 * Weather
 *
 */

.recent-news {
	/* clear: both; */
	padding: 1em;
}

.snippet {
	display: flex;
	flex-wrap: wrap;
	margin: 24px 0;
	box-shadow: 1px 1px 7px grey;
	padding: 8px;
}

.snippet__thumbnail {
	max-width: 300px;
	width: 85%;
	min-height: 150px;
	/* margin-right: 1em; */
	margin: 0 auto;
}

.snippet__text {
	width: 100%;
}

.snippet__title {
	font-weight: 500;
}

.snippet__title a {
	text-decoration: none;
	color: #666;
}

.snippet__title a:hover,
.snippet__title a:active {
	text-decoration: underline;
}

/*
 *
 * Footer
 *
 */

.footer {
	display: flex;
	justify-content: center;
	border-top: 1px solid #e0e0e0;
	/* padding: 1em; */
	width: 100%;
	font-size: 1rem;
}

.footer ul {
	width: 100%;
	max-width: 800px;
	display: flex;
	justify-content: space-around;
}

.footer li {
	display: inline-block;
	/* margin: 0 1em; */
	width: max-content;
}

.footer a {
	text-decoration: none;
	color: #333;
}


/*
 *
 * Media
 *
 */

@media (min-width: 480px) {
	.snippet__thumbnail {
		width: 45%;
		max-height: 200px;
		align-self: center;
	}

	.snippet__text {
		width: 50%;
	}

	.hero__description {
		height: 40%;
	}

	.nav-sm-screen {
		display: none;
	}

	.nav-bg-screen {
		display: block;
	}
}

@media (min-width: 640px) {
	.hero {
		min-width: 50%;
	}

	.top-news {
		width: 50%;
	}

	.weather__next__item {
		width: 20%;
	}
}